%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, fail_on_warning,
            {parse_transform, lager_transform}]}.

{deps, [
        {lhttpc, ".*", {git, "git://github.com/esl/lhttpc.git", "otp-17-compat"}},
        {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "v2.12.2"}},
        {jsx, ".*", {git, "git://github.com/arcusfelis/jsx.git", "arc-return-tail"}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
        {exometer_core, ".*", {git,"git://github.com/Feuerlabs/exometer_core.git", "1.4"}}
       ]}.
